<!DOCTYPE html>
<html lang="en">
<head>
  <title>Recycling Programs Home</title>
</head>

    <body>
        <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>Eco-Friendly Resources in New Orleans </h1>
        <p>Explore organizations, programs, and events dedicated to promoting 
        green initiatives and environmental sustainability </p>
        </div>
    </body>
</html>
    


